$header-global-bg-color: #947458;
$global-text-color: #FFFFFF;
$global-text-border-color: #FFFFFF;
$header-nav-bg-color: #F6F4F2;
$search-bar-placeholder-color: gray;
$search-bar-border-color: gray;
$primary-text-color: #000000;
$secondary-text-color: darkgray;
$global-text-family: 'Dm Sans', sans-serif;
