@import 'variables.scss';

header {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    & nav {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        font-family: $global-text-family;
        white-space: nowrap;


        & ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;
        }
        & .home-ul {
            width: 10%;
            white-space: nowrap;
            & li {
                display: flex;
                align-items: center;
                font-size: 1vw;
                margin: 0;
                white-space: nowrap;
                & img {
                    width: 2.5vw;
                    height: 2.5vh;
                    cursor: pointer;
                    margin-right: 0.5vw;
                    
                } 
                & a {
                        text-decoration: none;
                        color: $primary-text-color;
                }
            }
        }
        & .navigation-ul {
            width: 35%;
            justify-content: space-evenly;
            font-weight: 200;
            display: flex;
            list-style: none;
            font-size: 1vw;
            padding: 0;
            margin: 0;
            & li {
                font-weight: 300;
                color: $primary-text-color;
                display: flex;
                align-items: center;
                & a {
                    text-decoration: none;
                    color: $primary-text-color;
                    transition: color 0.3s ease;
                    position: relative;
                    line-height: 1;
                }
                & a:after {
	                display: block;
	                position: absolute;
	                left: 0;
	                width: 0;
	                height: 2px;
	                background-color: $primary-text-color;
	                content: "";
	                transition: width 0.3s ease-out;
                }
                & a:hover:after, a:focus:after {
	                width: 100%;
                }
            }
        }
        & .user-ul {
            width: 10%;
            height: min-content;
            justify-content: space-evenly;
            & img {
                width: 2.5vw;
                height: 2.5vh;
                cursor: pointer;
            }            
        }
    }
}

.discount-banner {
    position: fixed;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    height: 5vh;
    font-weight: 300;
    font-family: $global-text-family;
    text-transform: uppercase;
    background-color: $header-global-bg-color;
    color: $global-text-color;
    z-index: 5;
}


.search-contact-section {
    margin-top: 4.2vh;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2vh;
    font-weight: 300;
    font-family: $global-text-family;
    color: $primary-text-color;
    background-color: $header-search-bg-color;
    & p {  
        width: 10%; 
        white-space: nowrap;
        font-weight: 400;
        margin: 0;
        display: flex;
        align-items: center;
        & img {
            width: 3vh;
            height: 3vh;
        }
    }
    & .search-div {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;

        & .dropdown-section {
            height: 100%;
            position: relative;
            display: inline-block;
        }

        & .drop-down-button-search {
            background-color: $header-secondary-bg-color;
            border: 0.1vw solid $search-bar-border-color;
            height: 5vh;
            border-right: none;
            color: $primary-text-color;
            display: flex;
            padding: 0 0 0 0.5vw;
            align-items: center;
            font-weight: 400;
            cursor: pointer;
            font-family: $global-text-family;
            transition: background-color 0.3s ease;
            & img {
                margin: 0 0.5vw 0 0.5vw;
                width: 1vw;
            }

        }
        & .search-partition {
            width: 0.01vw;
            height: 100%;
            background-color: $search-bar-border-color;
        }  
        & .drop-down-button-search:hover, .drop-down-button-search:focus {
            background-color: lightgray;
        }
        & .dropdown-content {
            display: none;
            transition: all 0.3s ease;
            position: absolute;
            background-color: $header-secondary-bg-color;
            min-width: 2em;
            border: 0.1vw solid $search-bar-border-color;
            border-top: none;
            z-index: 1;
            font-family: $global-text-family;
            & a {
                color: $primary-text-color;

                width: 100%;
                text-decoration: none;
                display: block;
                padding: 5px 0 0 5px;
                transition: all 0.3s ease;

            }
        }
        & .dropdown-content a:hover {
            background-color: lightgray;
        }
        & .show {
            display:block;
        }
         
        & form {
            display: flex;
            align-items: center;
            width: 25vw;
            justify-content: space-between;
            & .search-input-field {
                width: 100%;
                border: 0.1vw solid $search-bar-border-color;
                height: 5vh;
                font-family: $global-text-family;
                color: $primary-text-color;
                border-left: none;
                outline: none;
                &::placeholder {
                    text-align: center;
                    font-weight: 400;
                    font-weight: 2vh;
                    color: $search-bar-placeholder-color;
                }
            }
            & .search-submit-button:hover, .search-input-field:hover button img {
                transform: scale(1.1);
            }
            & .search-submit-button {
                position: relative;
                right: 2vw;
                background: none;
                border: none;
                cursor: pointer;
                padding: 0;
                margin: 0;
                & img {
                    width: 1vw;
                }
            }
            
        }
    }
    
}