body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  
  height: 100vh;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.hover-grow {
  transition: transform 0.3s ease; 
}

.hover-grow:hover {
  transform: scale(1.1); 
}