{% load sass_tags %}
{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=2" />
    <link rel="stylesheet" href="{% sass_src 'deps/css/base.scss' %}" />
    <link rel="stylesheet" href="{% static 'deps/css/css-normalize.css' %}" />

    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'deps/favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'deps/favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'deps/favicon/site.webmanifest' %}" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header>
      <!-- верхняя часть страницы -->
      <div class="discount-banner">
        <p>This weekend Sale 20% off on all products</p>        
      </div>
      <div class="search-contact-section">
        <p>60 Fremont Ave. Hamden, CT 06514</p>
        <div class="search-div">
          <div class="dropdown-section">
            <button onclick="dropDownFunction()" id="dropdownbutton" class="drop-down-button-search">All Categories <img style='margin: 0 5px 0 5px' width="16px" height="16px" src="{% static 'deps/svg/chevron-down.svg' %}" alt=""><div class="search-partition"></div></button>
            <ul id='dropdowncontent' class="dropdown-content">
              {% tag_categories as categories %}
              {% for category in categories %}
                <li>
                  <a class="" href="{% url 'catalog:index' category.slug %}">{{ category.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          
          <form role="search" action="{% url 'catalog:search' %}" method="get">
            <input class="search-input-field" type="search" name="q" placeholder="Search product..." aria-label="Search" /><button class="search-submit-button" type="submit"><img src="{% static 'deps/svg/search.svg' %}" alt=""></button>
          </form>
        </div>
        <p style="gap: 10px;"><img width="24px" height="24px" src="{% static 'deps/svg/phone-call.svg' %}" alt="">(928) 630-9272</p>
      </div>
      <nav>

      </nav>
    </header>
    <section>
      <div class="container">
        <!-- Каталог и корзина с фиксированным расположением на странице -->
        <div class="row mt-1 position-fixed z-3">
          <!-- Каталог -->
          <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Каталог
              <img class="mx-1" src="{% static 'deps/icons/grid-fill.svg' %}" alt="Catalog Icon" width="16" height="16" />
            </button>
            <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
              {% tag_categories as categories %}
              {% for category in categories %}
                <li>
                  <a class="dropdown-item text-white" href="{% url 'catalog:index' category.slug %}">{{ category.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- Значек корзины, вызывает модальное окно -->
          {% block modal_cart %}{% endblock  %}
          <!-- Закончилась разметка модального окна -->
        </div>
      </div>
      <!-- Контент -->
      <div class="container">
        <div class="row mt-1">
          <div class="col-lg-2">
            <!-- Пустой блок на Ваше усмотрение -->
          </div>
          <div class="col-lg-10">
            <!-- Контент на странице -->
            {% include 'includes/notifications.html' %}
            {% block content %}

            {% endblock %}
          </div>
        </div>
      </div>
    </section>
    {% block footer %}

    {% endblock %}
    <script src="{% static 'deps/js/main.js' %}"></script>
  </body>
</html>
