{% load sass_tags %}
{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% sass_src 'deps/css/base.scss' %}" />
    <link rel="stylesheet" href="{% static 'deps/css/css-normalize.css' %}" />
    
    {% block css %}
    

    {% endblock %}

    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicon/favicon-f.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'deps/favicon/favicon-f.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'deps/favicon/favicon-f.png' %}" />
    <link rel="manifest" href="{% static 'deps/favicon/site.webmanifest' %}" />
    <title>F Store | Furniture store</title>
  </head>

  <body>
    <header>
      <!-- верхняя часть страницы -->
      <div class="discount-banner">
        <p>This weekend Sale 20% off on all products</p>        
      </div>
      <div class="search-contact-section">
        <p class="address">60 Fremont Ave. Hamden, CT 06514</p>
        <div class="search-div">
          <div class="dropdown-section">
            <button onclick="dropDownFunction()" id="dropdownbutton" class="drop-down-button-search">All Categories <img src="{% static 'deps/svg/chevron-down.svg' %}" alt=""></button>
            <ul id='dropdowncontent' class="dropdown-content">
              {% tag_categories as categories %}
              {% for category in categories %}
                <li>
                  <a class="" href="{% url 'catalog:index' category.slug %}">{{ category.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          
          <form role="search" action="{% url 'catalog:search' %}" method="get">
            <input class="search-input-field" type="search" name="q" placeholder="Search product..." aria-label="Search" /><button class="search-submit-button" type="submit"><img src="{% static 'deps/svg/search.svg' %}" alt=""></button>
          </form>
        </div>
        <p class="phone"><img src="{% static 'deps/svg/phone-call.svg' %}" alt="">(928) 630-9272</p>
      </div>
      <nav>
        <ul class="home-ul">
          <li><img src="{% static 'deps/svg/Cabinet.svg' %}" alt=""><a href="{% url 'main:index' %}"><h2>Furniture Store</h2></a></li>
        </ul>
        <ul class="navigation-ul">
          <li><a class="nav-home" href="{% url 'main:index' %}">Home</a></li>
          <li><a href="">Shop</a></li>
          <li><a href="{% url 'main:about' %}">About Us</a></li>
          <li><a href="{% url 'main:contact' %}">Contact Us</a></li> 
        </ul>
        <ul class="user-ul">
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'users:profile' %}"><img src="{% static 'deps/svg/user.svg' %}" alt="User profile icon"></a></li>
          <li><a href="{% url 'orders:create_order' %}"><img src="{% static 'deps/svg/shopping-cart.svg' %}" alt=""></a></li>
          <li><a href="{% url 'users:logout' %}"><img src="{% static 'deps/svg/logout.svg' %}" alt=""></a></li>
          {% else %}
          <li><a href="{% url 'users:login' %}"><img src="{% static 'deps/svg/login.svg' %}" alt=""></a></li>
          <li class="placeholder"></li>
          <li class="placeholder"></li>
          {% endif %}
        </ul>
        <div class="burger" onclick="toggleMobileMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div id="mobileMenu" class="mobile-menu">
          <a href="{% url 'main:index' %}">Home</a>
          <a href="">Shop</a>
          <a href="{% url 'main:about' %}">About Us</a>
          <a href="{% url 'main:contact' %}">Contact Us</a>
      
          {% if request.user.is_authenticated %}
          <a href="{% url 'users:profile' %}">Profile</a>
          <a href="{% url 'orders:create_order' %}">Cart</a>
          <a href="{% url 'users:logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'users:login' %}">Login</a>
          {% endif %}
        </div>
      </nav>
      <div id="navPlaceholder"></div>
    </header>
    <section>
        <!-- Контент на странице -->
        {% block content %}

        {% endblock %}
    </section>
    <!-- нижняя часть страницы -->
    <footer>
        <div class="footer-grid">
            <h2 class="newsletter-footer-text">Subscribe to our newsletter<br>Don’t miss latest news & promotions</h2>
            <form action="" method="post" class="newsletter-footer-form">
              {% csrf_token %}
              <input class="newsletter-footer-input" type="email" placeholder="Enter your email"/>
              <button><a href="">Subscribe</a></button>
            </form>
            <ul class="footer-grid-text-1">
              <h3><img src="{% static 'deps/svg/Cabinet.svg' %}" alt="">Furniture Store</h3>
              <li>60 Fremont Ave. Hamden, CT 06514</li>
              <li><strong>Email:</strong>fStore@email.com</li>
              <li><strong>Phone:</strong>(928) 630-9272</li>
              <li class="footer-social-media-icons"><img src="{% static 'deps/svg/facebook.svg' %}" alt=""><img src="{% static 'deps/svg/X.svg' %}" alt=""><img src="{% static 'deps/svg/instagram.svg' %}" alt=""><img src="{% static 'deps/svg/youtube.svg' %}" alt=""></li>
            </ul>
            <ul class="footer-grid-text-2">
              <h3>Locations</h3>
              <li><a href="{% url 'main:addresses' %}">Store Locations</a></li>
              <li><a href="{% url 'main:addresses' %}">Warehouses</a></li>
              <li><a href="{% url 'main:contact' %}">Find Us</a></li>
              <li><a href="{% url 'main:addresses' %}">Visit Us</a></li>
            </ul>
            <ul class="footer-grid-text-3">
              <h3>Customer service</h3>
              <li><a href="">Orders</a></li>
              <li><a href="">Addresses</a></li>
              <li><a href="{% url 'main:returns' %}">Returns</a></li>
              <li><a href="{% url 'main:account_details' %}">Account details</a></li>
              <li><a href="{% url 'main:faq' %}">F.A.Q</a></li>
            </ul>
            <ul class="footer-grid-text-4">
              <h3>Delivery</h3>
              <li><a href="">Orders</a></li>
              <li><a href="">Return</a></li>
              <li><a href="">Free Delivery</a></li>
            </ul>
            <p class="footer-grid-copyright"> © Copyright f Store 2025. Website crated by Nikita</p>
            <div class="footer-grid-payment">
              <img src="{% static 'deps/svg/payment.svg' %}" alt="">
            </div>
        </div>
    </footer>
    <script src="{% static 'deps/js/main.js' %}"></script>
  </body>
</html>
